html,
* {
    font-family: "Manrope", sans-serif;
}

body {
    margin: 0 auto;
    width: 70vw;
    background: url(images/Background.jpg) fixed;
}

@media all and (max-width: 768px) {
    body {
        width: 100%;
    }
}


.container {
    padding: 25px 25px;
}

.container-hero {
    padding: 200px 50px;
    background: url() center center no-repeat fixed;
    background-size: cover;

}

.container-body {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 20px;
    backdrop-filter: blur(12px) saturate(120%);
}

.letter-spacing {
    line-height: 1.75rem;
}

.display-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.display {
    border: 2.5px solid white;
    border-radius: 4px;
    padding: 5px;
    height: 225px;
}

/* @media all and (max-width: 768px) {
    .display-container {
        flex-direction: column;
    }
} */

.button {
    font-weight: 700;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    color: black;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px) saturate(150%);
    padding: .5rem 1rem;
    border-radius: 6px;
    transition: .25s ease transform, .25s ease box-shadow;
}

.button:hover {
    transform: translateY(-2px);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.button:active {
    transform: translateY(1px);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    margin-bottom: 1.25rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

h6 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}


p.subtitle {
    font-size: 1.5rem;
    font-weight: 300;
}

p.description {
    font-size: 1rem;

}